<section class="blue">
  <div class="info">
    <h3>OUR SERVICES</h3>
    <div class="servicios">
      <div class="servicio">
        <h4>Car selling</h4>
        <p>
          Discover timeless elegance at OldSoulsCars. Our curated collection of
          classic cars for sale showcases the beauty of automotive history
        </p>
        <button class="check-btn">CHECK</button>
      </div>
      <div class="servicio">
        <h4>Car restoration</h4>
        <p>
          Revive the glory of vintage automobiles with OldSoulsCars. Our expert
          craftsmen breathe new life into classic cars, meticulously restoring
          them to their former splendor
        </p>
        <button class="check-btn">CHECK</button>
      </div>
      <div class="servicio">
        <h4>Car renting</h4>
        <p>
          Embark on a journey through the decades with OldSoulsCars. Our fleet
          of meticulously maintained classic cars is ready to transport you to a
          bygone era
        </p>
        <button class="check-btn">CHECK</button>
      </div>
    </div>
  </div>
</section>
