<section class="opinions">
  <div class="opinions-container">

  <h2>WHAT OUR CUSTOMERS SAY</h2>
  <div class="grid">
    <div class="testimonial-box">
      <div class="testimonial">
        <div class="person">
          <img src="../../assets/portrait.jpg" class="img"/>
          <h3>TESTIMONIAL</h3>
        </div>
        <P
          >"My experience with OldSoulCars has been nothing short of spectacular. I purchased a classic beauty for my collection, and the attention to detail and transparency throughout the process exceeded my expectations. The restoration work showcased true craftsmanship. I couldn't be happier with my new addition!"

</P
        >
        <p>08/06/2023</p>
      </div>
    </div>

    <div class="testimonial-box">
      <div class="testimonial">
        <div class="person">
          <img src="../../assets/portrait.jpg" class="img"/>
          <h3>TESTIMONIAL</h3>
        </div>
        <P
          >"Renting a classic car from this OldSoulCars was the highlight of our road trip. The selection was impressive, and the vehicle we chose was in pristine condition. The rental process was seamless, and driving a well-maintained classic added a unique charm to our journey. A must-try for any car enthusiast!"</P
        >
                <p>08/06/2023</p>

      </div>
    </div>

    <div class="testimonial-box">
      <div class="testimonial">
<div class="person">
          <img  src="../../assets/portrait.jpg" class="img"/>
          <h3>TESTIMONIAL</h3>
        </div>        <P
          >"I entrusted the restoration of my family's vintage car to OldSoulCars, and the results were astonishing. The team's dedication to preserving every detail was evident in the final product. The regular updates and clear communication made the restoration journey enjoyable. I now have a beautifully revived family heirloom. Thank you!"</P
        >
                <p>08/06/2023</p>

      </div>
    </div>

    <div class="testimonial-box">
      <div class="testimonial">
<div class="person">
          <img src="../../assets/portrait.jpg" class="img"/>
          <h3>TESTIMONIAL</h3>
        </div>        <P
          >"I recently purchased a classic car through this platform, and the entire process was a breeze. The extensive collection made it easy to find the perfect match, and the detailed descriptions and high-quality images provided a comprehensive view. The purchase was smooth, and I'm now a proud owner of a meticulously restored classic."</P
        >
                <p>08/06/2023</p>

      </div>
    </div>

    <div class="testimonial-box">
      <div class="testimonial">
<div class="person">
          <img  src="../../assets/portrait.jpg" class="img"/>
          <h3>TESTIMONIAL</h3>
        </div>        <P
          >"Renting a classic car for a special occasion was a fantastic decision. The diverse range of meticulously maintained classics offered us the opportunity to make a statement. The booking process was straightforward, and the vehicle was delivered in pristine condition. Driving a classic added a touch of glamour to our event, making it truly unforgettable."</P
        >
                <p>08/06/2023</p>

      </div>
    </div>

    <div class="testimonial-box">
      <div class="testimonial">
<div class="person">
          <img src="../../assets/portrait.jpg" class="img"/>
          <h3>TESTIMONIAL</h3>
        </div>        <P
          >"The attention to detail and commitment to preserving the authenticity of the vehicle's era were commendable. The before-and-after photos showcased the transformation beautifully. I now have a fully restored classic that's turning heads wherever I go. Highly recommended for fellow enthusiasts!"</P
        >
                <p>08/06/2023</p>

      </div>
    </div>
  </div>
    </div>

</section>
