<section class="section">
  <div [contentEditable] = isEditable class="textBox">
    <h3>OUR CARS</h3>
    <p>
      Immerse yourself in the allure of automotive history with our carefully
      curated collection at RetroRides. Each of our classic cars is a testament
      to timeless design and craftsmanship, meticulously maintained to offer an
      unparalleled driving experience. Explore our selection and embark on a
      journey through the decades, where every vehicle tells a unique story of
      elegance and enduring style
    </p>
    <a href="/cars">
      <button><span>OUR CARS</span></button>
    </a>
    

  </div>
</section>
