.contenedor {
    /* background-color: #eadbcb; */
    width: 90%;
    /* max-width: 1020px; */
    margin: 100px auto 50px auto;
}

.contenedor h2 {
    font-size: 42px;
}

.peque {
    height: 250px;
    margin: 0;
}

.cars-container {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 350px;
}